*,
::before,
::after {
    box-sizing:border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
    height: 100%;
}

h1,h2,h3 {
    margin: 0;
}

.header {
    width: 100%;
    padding: 15px 0;

text-align: center;
font-size: 24px;
font-weight: 300;
color: gray;
}

.header__logo{
color: inherit;
text-decoration: none;
}

.hero{
    min-height: 100vh;
    display: flex;
    justify-content: center;
align-items: center;
}

.container{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}

.hero__container{
    display: grid; grid-template-columns: repeat(auto-fit,minmax (290px, 1fr));
    grid-gap:20px;



}

.hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero__title {
    margin-bottom: 20px;


font-size: 48px;
line-height: 1.1;

}


.hero__subtitle {
    font-size: 32px;
font-weight: 400;

}

.hero__links{
    display: flex;

}


.hero__link{
margin-right: 10px;

font-size: 30px;
color: black;

transition: color 0.3s;
}

.hero__link:hover{
    color: #4facfe;

}

.hero__box{
    max-width: 500px;
    
    overflow: hidden;

    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
border: 10px solid#fff;
box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);

animation: ava-animation 5s infinite alternate;
}

.hero__box-img {
    animation: ava-bg 3s infinite alternate;
}

@keyframes ava-animation{
    0% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    }

    40%{
        border-radius: 41% 59% 36% 64% / 41% 69% 31% 59% ;
    }

    60%{
        border-radius: 18% 82% 64% 36% / 33% 48% 52% 67% ;
    }

    100%{
        border-radius: 65% 35% 35% 65% / 41% 26% 74% 59% ;
    }
}

@keyframes ava-bg {
    from{
        background-filter: hue-rotate(0);

    }

    to{
        background-filter: hue-rotate(90deg);
    }
}

@media screen and (max-width: 978px) {
    .hero{
        padding-top: 30px;
    }

    .hero__container {
        grid-row-gap: 20px ;

    }
     .hero__title {
        font-size: 28px;
        margin-bottom: 10px;

     }
 .hero__subtitle {
    font-size: 22px;
    font-weight: 400;

 }

 .hero__description {
    font-size: 14px;

 }

 .hero__about{
    text-align: center;

 }

 .hero__links{
    justify-content: center;
 }
 .hero__box {
    max-width: 350px;
display: flex;
margin-top: 30px;
 }

}

.vl {
    border-left: 6px solid gray;
    height: 500px;
    position: absolute;
    left: 55%;
    margin-left: -3px;
    top: 300px;
}

.cons {
    display: flex;
  flex-direction: row;
 font-size: 30px;
 justify-content: space-between;

}

.container2 span {
 display: flex;

}


